/**
  Title: site.css
  Author: James Harper
  Date: 5/27/2023
  Description: Web 330 - Week 1 - Assignment 1.3
*/

/**
  References the <div> with an id="container". Sets the margin top to 50px, right 100px,
  and left 100px.
*/
#container {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

#icon-mode {
  cursor: pointer;
}

#icon-text {
  padding-left: 10px;
}

.pull-right {
  float: right;
}
/**
    Styles added per the instructions in the Web 330 HTML, CSS, and JavaScript Requirements document;
    Exhibit D.
 */
.assign-container {
  padding: 10px;
}

.assign-content {
  width: 600px;
  margin: 3% auto 0;
}

.assign-results-text {
  text-align: center;
  font-size: 28px;
}

.app-header {
  text-align: center;
  font-weight: 400;
  border: none;
  color: inherit;
  background-color: inherit;
}

.return-home {
  color: #4F3674;
  text-decoration: none;
}

.return-home:hover {
  background-color: #D6A800;
  color: #4F3674;
}

.return-home:visited {
  color: #3c275a;
}

.form {
  display: inline-grid;
  grid-template-columns: auto;
}

.form-field {
  padding: 20px;
}

.full-width {
  width: 100%;
}
